
body {
    background-color: white;
    font-family: 'Helvetica', sans-serif;
  }

main {
    padding: 16px;
    width: 800px;
    margin: 0 auto;
}

h1{
    font-size: 60px;
    line-height: 60px;
    text-transform:uppercase;
    font-weight: 800;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

.list_ten {
    font-size: 30px;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
.action{
    font-size: 20px;
    line-height: 60px;
    text-transform:uppercase;
    font-weight: 800;
}

