@media screen and (max-width: 1200px) {
  main {
    width: 60%;
  }
}

/* Viewports smaller than 800 pixels */
@media screen and (max-width: 800px) {
  main {
    width: 80%;
  }
}

/* Viewports smaller than 800 pixels */
@media screen and (max-width: 600px) {
    main {
    width: 90%;
  }
    h1{
        font-size: 30px;
        line-height: 30px;
    }

    .refresh{
    font-size: 13px;
    line-height: 40px;
    }
}