@media screen and (max-width: 1200px) 
main {
    width: 60%;
  }
}

/* Viewports smaller than 700 pixels */
@media screen and (max-width: 700px) {
h1{
    color: seagreen
}
  header {
    display: flex;
    align-items: center;
  }

  header h1 {
    font-size: 1.5em;
  }

  header .login-info {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
  }

  header .login-info a {
    padding: 5px 0;
  }

  main {
    width: 90%;
  }

  .user-info {
    align-items: center;
  }

  .user-info h2 {
    font-size: 1em;
  }

  .user-info h3 {
    font-size: 0.65em;
  }

}

