<h1> One job </h1>

<h1>
    
    <a href=<%="#{@query[@rand_query].url}"%> target="_blank"><%=@query[@rand_query].job_title%></a>
</h1>

<br>
<br>

<!-- just reloads the page -->
<a class="refresh" href="/"> Give me another fucking idea.</a>
<br>
<a class="refresh" href="/search"> No fucking way I'll do that.</a>