
<h1> <%= @rand_header %> </h1>

<h1>
    <a href=<%="#{@website}"%> target="_blank"><%=@job_title%></a> 
</h1>

<br>
<br>

<a class="refresh" href="/"> Give me another fucking idea.</a>
<br>
<a class="refresh" href="/search"> No fucking way I'll do that.</a>

    

