
<h1> <%= @rand_header %> </h1>

<h1>
<ul>
    <li><a href=<%="#{@url}"%> target="_blank"><%=@job_title%></a></li>
</ul> 
</h1>

<a class="action" href="/"> Give me another fucking idea.</a>
<br>
<a class="action" href="/search"> No fucking way I'll do that.</a>

    

