<!doctype html>
<html>

    <head>
        
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/responsive.css">
      
        <title>WTF SHOULD I DO FOR WORK?</title>
    </head>

    <body>
        
        <main role="main">
        <%=yield %>
        </main>
    
    </body>

</html>