<!doctype html>
<html>

    <head>
        
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/responsive.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>WTF SHOULD I DO FOR WORK?</title>
        <meta name="description” content="What the fuck should you do for work? We will give you some new ideas without baggage.”>
    </head>

    <body>
        
        <main role="main">
        <%=yield %>
        </main>
    
    </body>
    <div id="footer">
        This site was made by 
        <a href = "https://github.com/songsongha"> Song </a>.<br>
        Inspired by 
        <a href = "http://www.whatthefuckshouldimakefordinner.com/"> What The Fuck Should I Make for Dinner </a>
    </div>

</html>