
<%= @error_message if @error_message %>

<form method = "POST" action="/scrape">
<label for="password"> Password: </label>
<input type = "password" id="password" name="password">
<button type="submit">Submit</button>