<h1> Then be a fucking </h1>
<h1>
 <% query = @query.limit(1).order("RANDOM()") %>
<%  query.each do |entry| %>
    <ul>
        <li><a href=<%="#{entry.url}"%> target="_blank"><%=entry.job_title%></a></li>
    </ul>
<% end %>
</h1>

<!-- just reloads the page -->
<a class="action" id="refresh"> Give me another fucking idea.</a>
<br>
<a class="action" id ="link5"> Show me a bigger fucking list.</a>
<br>
<a class="action" href ="/search"> No way in hell I'll do that.</a>

    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

<script>
   
    const link5 = document.getElementById("link5");
    const jobList = document.querySelector("ul");
    const refresh = document.getElementById("refresh");
    const database = <%= @query.to_json %>;
    const header = document.querySelector("h1");
    console.log(database);

    function toggleListSize(e) {

        if (jobList.className === "list_five") {
            deleteJobEntries(2);
            refresh.innerHTML = "Give me another fucking idea.";
            link5.innerHTML = "Show me a bigger fucking list.";
            header.innerHTML = randHeader();
        }
        else {
            addRandJob(4);
            refresh.innerHTML = "Give me some new fucking ideas.";
            link5.innerHTML = "That's too many fucking options.";
        }
        jobList.classList.toggle("list_five");
    
    }    

   function addJobEntries(query) {
        Object.entries(query).forEach(array => {
            var li = document.createElement('li')
            var a = document.createElement('a'); 
            let jobTitle = document.createTextNode(array[1].job_title); 
            a.appendChild(jobTitle);  
            a.target = "_blank";  
            a.href = array[1].url; 
            li.appendChild(a)
            jobList.appendChild(li);   
        });
                  
    }

function deleteJobEntries(num) {
    while (jobList.childNodes.length > num) {
                jobList.removeChild(jobList.lastChild);
    }	
}

function refreshList(){
    deleteJobEntries(1);
    if (jobList.className === "list_five") {
        addRandJob(5);  
    }
    else {
        addRandJob(1);    
    }
    header.innerHTML = randHeader();
  
}

function addRandJob (length) {
    let array = database
    let currentIndex = array.length, temporaryValue, randomIndex;
    while (0 !== currentIndex) {
        randomIndex = random(currentIndex);
        currentIndex -= 1;

        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
    }
    array = array.slice(0,length);
    addJobEntries(array);
}

function randHeader(){
    let header = ["Be a fucking", "Why don't you be a god damn", "How about a fucking", "Lessen your family's shame by being a"];
    header = header[random (header.length)];
    return header;
}

function random(num) {
    let randomNum = Math.floor(Math.random()* num);
    return randomNum;
}


link5.addEventListener("click", toggleListSize);
refresh.addEventListener("click", refreshList);

</script>