

<h1>
<%= @error_message if @error_message %>
<%= @search_header if @search_header %>
</h1>


<form method = "POST" action="/search">

    <div class="form-group">
        <label for="wage">I fucking want to make more than $</label> 
        <input type = "number" id="wage" name="wage" value= "25">
         <select name="wage_unit">
        <option value="hour">per hour</option>
        <option value="year"> per year</option>
        </select>
    </div>
    <div class="form-group">
    <p> and the fucking education requirements should be: </p><br>
        <input type="checkbox" name="education" id="university" value="University">
        <label for="university"> University </label><br>
        <input type="checkbox" name="education" id="college"  value="College or apprenticeship">
        <label for="college"> College or apprenticeship </label><br>
        <input type="checkbox" name="education" id="highschool"  value="High school or specific training">
        <label for="highschool"> High school or specific training </label><br>
        <input type="checkbox" name="education" id="on_the_job"  value="On-the-job training">
        <label for="on_the_job"> On the job training </label><br><br>
    </div>
    <div class="form-group">
        <label for="num_posts">and there should be more than</label>
        <input type="number" id="num_posts" name="num_posts" value=<%= @num_posts %>>
        <label for "num_posts"> fucking postings!</label>
    </div> 
    <div class="form-group">
        <button type="submit" name="num_options" value=1>Give me another fucking option</button>
        <button type="submit" name="num_options" value=10>Give me 10 fucking options</button>
    </div>
</form>

